body {  
    background: black;
    color: white;
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 4em; 

}
.main {
    margin: 2em;
}
#getNameButton { 
    background: red;
    color: white;
    font-size: 1em;  
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-style: none;
    padding: .2em;
    margin: .2em;
}
#genName {
    border: solid, 10px, white; 
    background: black;
    color: pink; 
    font-family: Helvetica, sans-serif;
    text-align: center;

    margin: 1em;
}